@charset "utf-8";

@media screen and (min-width:1280px) and (max-width:1919px) and (max-height:750px) {
	#a_main_contents{padding-top:0;}
	.section2{
		padding-top:20px;
	}
	.section3{
		padding-top:40px;
	}
	.a_brand>div{
		width:42%;
		height:300px;
	}
	.a_brand>div>h2{margin-top:60px;}
	.a_brand>div:first-child{margin:0 5.2%}
	.a_pd_advisor{
		width:800px;
		height:380px;
	}
	.section4 h2{font-size:2.6em; margin-bottom:20px;}
	.a_sc{
		padding-top:10px;
		padding-bottom:0;
		background-size:21%
	}
	.a_sc_green, .a_sc_ginseng{
		padding-left:30%;
	}
	.a_sc_bamboo{
		padding-right:30%;
	}
	.a_sc>h3{font-size:1.8em; margin-bottom:10px;}
}