@charset "utf-8";

html{
    height:100%;
}
body{
    height:100%;
}

.t_gnb_sub{
    background-image:url(../img/sub/bg_sub_nav.png);
}
.t_gnb_sub>li>a{
    color:#efefef;
}

.t_ict_business_wrap{
    height:100%;
    padding-left:200px;
    font-family: 'Nanum Gothic', sans-serif;
}

/* t_ict_con1 */
.t_ict_con1{
    height:100%;
    padding:60px 100px 0;
}
.t_ict_con1>h2{
    padding-left:20px;
    margin-bottom:50px;
    font-size:2.3em;
    font-weight:bold;
    color:#fff;
    background-color:#fff;
    background-image:url(../img/sub/bg_ict_bs_title.png);
    background-repeat:no-repeat;
    background-position:left center;
}
.t_ict_con1>p{
    font-size:1.2em;
    color:#454545;
    line-height:1.3;
    margin-bottom:80px;
}
.t_ict_con1>div>section{
    float:left;
    width:25%;
    height:500px;
    padding:0 3%;
    border-right:1px solid #bdd9e8;
    box-sizing:border-box;
}
.t_ict_con1>div>section:last-child{
    border-right:none;
}
.t_ict_con1>div>section>img{
    width:100%;
    height:auto;
}
.t_ict_con1>div>section>h3{
    padding:7px 0;
    padding-left:15px;
    margin-bottom:20px;
    font-size:1.3em;
    font-weight:bold;
    color:#fff;
    background-color:#92cff2;
}
.t_ict_con1>div>section>ul>li{
    margin:4px 0;
    padding-left:15px;
    background-image:url(../img/sub/bg_bullet1.png);
    background-repeat:no-repeat;
    background-position:left 6px;
}

/* t_ict_con2 */
.t_ict_con2{
    height:100%;
    min-height:785px;
    padding-top:60px;
    box-sizing:border-box;
    background-color:#efefef;
}
.t_ict_con2>div{
    width:900px;
    margin:0 auto;
    padding:62px 123px 45px;
    box-sizing:border-box;
    background-image:url(../img/sub/bg_rd_rec.png);
    background-repeat:no-repeat;
}
.t_ict_con2>div>h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:2.2em;
    color:#333;
    text-align:center;
    margin-bottom:80px;
    background-image:url(../img/sub/bg_title_line2.png);
    background-repeat:no-repeat;
    background-position:center;
}
.t_ict_con2>div>img{
    width:100%;
    height:auto;
    margin-bottom:80px;
}
.t_ict_con2>div>p{
    margin-right:30px;
    margin-left:30px;
    margin-bottom:47px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:1.2em;
    text-align:center;
    line-height:1.3;
    color:#545454;
}
.t_ict_con2>div>ul{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:1.21em;
    color:#fff;
    width:233px;
    height:233px;
    margin:0 auto;
    padding-top:26px;
    box-sizing:border-box;
    text-align:center;
    background-image:url(../img/sub/bg_blue_circle.png); 
    background-repeat:no-repeat;
    background-position:left top;
}


























