@charset "utf-8";

/* container */
.h_visual_wrap, .h_container2_wrap{
    margin-left:220px;
}    

    /* visual */
.h_visual_wrap{
    position:relative;
    margin-right:380px;
    height:100%;
    overflow-x:hidden;
}
.h_visual{
    position:relative;
    height:100%;
}
.h_visual>div{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.h_banner1{
    background-image:url(../img/main/bg_banner1.jpg);
}
.h_banner2{
    background-image:url(../img/main/bg_banner2.jpg);
}
.h_banner3{
    background-image:url(../img/main/bg_banner3.jpg);
}
.h_banner4{
    background-image:url(../img/main/bg_banner4.jpg);
}
.h_banner5{
    background-image:url(../img/main/bg_banner5.jpg);
}
.h_banner6{
    background-image:url(../img/main/bg_banner6.jpg);
}

.h_visual>div>h2{
    width:240px;
    height:51px;
    font-size:1.6em;
    font-weight:bold;
    margin-top:50px;
    margin-left:55px;
    padding-top:15px;
    padding-left:20px;
    box-sizing:border-box;
    background-image:url(../img/main/bg_banner_title.png);
    background-repeat:no-repeat;
}
.h_visual>div.h_banner2>h2, .h_visual>div.h_banner3>h2{
    padding-left:5px;
}
.h_paging{
    position:absolute;
    bottom:75px;
    right:100px;
}
.h_paging>a{
    display:block;
    float:left;
    width:70px;
    height:10px;
    border-radius:5px;
    margin-left:10px;
    text-indent:-9999em;
    background-color:#f1f1f1;
}
.h_paging>a.act{
	background-color:#e71a0f;
}
.h_paging>a:first-child{
    margin-left:0;
}
.h_btn_play{
    position:absolute;
    bottom:70px;
    right:50px;
}
.h_btn_play>a{
    display:block;
    width:21px;
    height:20px;
    text-indent:-9999em;
    background-repeat:no-repeat;
}
.h_btn_play>a.off{
    display:none;
}
.h_btn_play>a:nth-child(1){
    background-image:url(../img/main/btn_play.gif);
}
.h_btn_play>a:nth-child(2){
    background-image:url(../img/main/btn_stop.gif);
}


    /* contents1 */
#h_container1_wrap{
    position:absolute;
    top:0px;
    right:0px;
    width:380px;
    height:100%;
}
.h_business{
    float:left;
    width:150px;
    height:100%;
    padding:0 18px;
    padding-top:20px;
    border-bottom:2px solid #ccc;
    box-sizing:border-box;
    background-image:url(../img/main/bg_business.png);
	background-repeat:no-repeat;
	background-position:left top;
}
.h_business>h2>a{
    display:block;
    font-size:1em;
    text-align:center;
    padding:10px 0;
    margin-bottom:5px;
    border-bottom:2px solid #ccc;
    background-image:url(../img/main/bg_arrow.png);
    background-repeat:no-repeat;
    background-position:100px center;
}
.h_business>ul{
    height:100%;
}
.h_business>ul>li{
    width:100px;
    height:14.28571%;
    margin:0 auto 5px;
    border-bottom:1px solid #ccc;
}
.h_business>ul>li:last-child{
    border-bottom:none;
}
.h_business>ul>li>a{
    position:relative;
    display:block;
    height:100%;
    box-sizing:border-box;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
}

.h_business>ul>li>a>span{
    display:none;
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    color:#fff;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    background-color:#65889b;
}

.h_business>ul>li:nth-child(1)>a{
    background-image:url(../img/main/icon_dev1.png);
}
.h_business>ul>li:nth-child(2)>a{
    background-image:url(../img/main/icon_dev2.png);
}
.h_business>ul>li:nth-child(3)>a{
    background-image:url(../img/main/icon_dev3.png);
}
.h_business>ul>li:nth-child(4)>a{
    background-image:url(../img/main/icon_dev4.png);
}
.h_business>ul>li:nth-child(5)>a{
    background-image:url(../img/main/icon_dev5.png);
}
.h_business>ul>li:nth-child(6)>a{
    background-image:url(../img/main/icon_dev6.png);
}
/*.h_business>ul>li:hover, .h_business>ul>li:focus{
    background-image:url(../img/main/bg_business_list_ov.png); 
}*/


.h_con1_2{
    float:left;
    width:230px;
    height:100%;
    padding:0 10px;
    border-bottom:2px solid #ccc;
    border-left:1px solid #ddd;
    box-sizing:border-box;
    background-color:#efefef;
}
.h_con1_2>section{
    height:25%;
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
}
.h_con1_2>section:last-child{
    border-bottom:none;
}
.h_con1_2>section>a{
    position:relative;
    display:block;
    height:100%;
    text-align:center;
    letter-spacing:-0.1em;
    box-sizing:border-box;
    background-repeat:no-repeat;
    background-position:center 30%;
}
/*
.h_con1_2>section>a:hover>h3,
.h_con1_2>section>a:focus>h3,
.h_con1_2>section>a:hover>span,
.h_con1_2>section>a:focus>span{
    color:#333;
}
*/
.h_con1_2>section>a>h3{
    position:absolute;
    left:50%;
    bottom:32%;
    margin-left:-55px;
    width:110px;
    font-size:1.6em;
    font-weight:bold;
    color:#333;
}
.h_con1_2>section>a>span{
    position:absolute;
    left:50%;
    bottom:22%;
    width:100px;
    margin-left:-50px;
    font-size:1.1em;
}
.h_con1_2>section:nth-of-type(1)>a{
    background-image:url(../img/main/icon_ipark.png); 
}
.h_con1_2>section:nth-of-type(2)>a{
    background-image:url(../img/main/icon_partners.png); 
}
.h_con1_2>section:nth-of-type(3)>a{
    background-image:url(../img/main/icon_recruit.png); 
}
.h_con1_2>section:nth-of-type(4)>a{
    background-image:url(../img/main/icon_scholar.png); 
}

.h_page_more{
    position:fixed;
    bottom:0;
    left:48%;
    width:152px;
    height:32px;
    padding-left:40px;
    margin-left:-76px;
    box-sizing:border-box;
    line-height:32px;
    background-image:url(../img/main/bg_more.png);
    background-repeat:no-repeat;
}
.h_page_more>span{
    display:inline-block;
    font-size:1.3em;
    font-weight:bold;
    padding-right:35px;
    background-image:url(../img/main/bg_arrow_bottom.png);
    background-repeat:no-repeat;
    background-position:right center;
}

    /* contents2 */
.h_container2_wrap{
    margin-top:100px;
    margin-bottom:70px;
}

.h_master{
    position:relative;
    width:80%;
    height:auto;
    margin:0 auto;
    margin-bottom:70px;
}
.h_master>video{
    width:100%;
}
.h_master_box{
    position:absolute;
    top:-40px;
    right:100px;
    width:290px;
    height:280px;
    padding:40px;
    box-sizing:border-box;
    background-image:url(../img/main/bg_masterpiece.png);
    background-repeat:no-repeat;
    background-color:#fff;
}
.h_master_box>h2{
    font-size:2.3em;
    font-weight:bold;
    letter-spacing:0.1em;
    margin-bottom:15px;
}
.h_master_box>p{
    font-size:1.1em;
    color:#909090;
    margin-right:10px;
}
.h_master_box>a{
    position:absolute;
    top:43px;
    right:30px;
    width:24px;
    height:24px;
    text-indent:-9999em;
    background-image:url(../img/main/btn_more.png); 
}
.h_master_box>a:hover, .h_master_box>a:focus{
    background-image:url(../img/main/btn_more_ov.gif);
}

.h_news{
    position:relative;
    float:left;
    width:24%;
    height:325px;
    margin-left:10%;
    padding:10px;
    border:1px solid #ccc;
    box-sizing:border-box;
    background-image:url(../img/main/bg_news.png);
    background-repeat:no-repeat;
}
.h_news>h3{
    font-size:1.7em;
    font-weight:bold;
    color:#fff;
    margin-bottom:20px;
}
.h_news>ul{
    margin-left:20px;
    margin-right:30px;
}
.h_news>ul>li:nth-child(2){
    margin:15px 0;
}
.h_news>ul>li>a>h4{
    padding-left:20px;
    margin-bottom:3px;
    font-size:1.2em;
    font-weight:bold;
    color:#333;
    box-sizing:border-box;
    background-image:url(../img/main/bg_tri_bullet.png);
    background-repeat:no-repeat;
    background-position:0px 4px;
}
.h_news>ul>li>a>p{
    color:#868686;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-left:20px;
    margin-bottom:3px;
}
.h_news>ul>li>a>span{
    color:#666;
    padding-left:20px;
}
.h_news>a.btn_more{
    position:absolute;
    top:18px;
    right:40px;
    width:24px;
    height:24px;
    text-indent:-9999em;
    background-image:url(../img/main/btn_more.png);
}
.h_news>a.btn_more:hover, .h_news>a.btn_more:focus{
    background-image:url(../img/main/btn_more_ov.gif);
}
.h_intro_movie{
    float:left;
    width:28%;
    height:325px;
    margin:0 2%;
}
.h_intro_movie>iframe{
    width:100%;
    height:100%;
}
.h_newsletter{
    float:left;
    width:24%;
    height:325px;
    border:1px solid #ccc;
}
.h_newsletter{
    background-image:url(../img/main/bg_newsletter.png);
}
.h_newsletter>a{
    position:relative;
    display:block;
    height:100%;
    padding:60px 44px 100px;
    box-sizing:border-box;
}
.h_newsletter>a>h3{
    padding-left:120px;
    padding-bottom:3px;
    border-bottom:2px solid #ccc;
    font-size:2.3em;
    background-image:url(../img/main/logo.png);
    background-repeat:no-repeat;
}
.h_newsletter>a>span{
    color:#666;
    font-size:1.2em;
}
.h_newsletter>a>span:nth-of-type(2){
    position:absolute;
    top:103px;
    right:50px;
}
.h_newsletter>a>p{
    margin-top:35px;
    font-size:2em;
    letter-spacing:0.1em;
}
.h_newsletter>a>p>span{
    color:#ec473e;
    font-size:1.2em;
    font-weight:bold;
}

























